# Server Environment
PORT=3500
DATABASE_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/test
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
CLIENT_URL=https://your-client-url.com

# Client Environment (Build time)
# VITE_API_URL=http://localhost:3500/api # Optional if using full URL
